/bin/
.classpath
.project
.idea/
antlr-runtime-4.5.3.jar
compiler_output/
gen/
src/scallywags/langdradig/grammatica/LANGdradig.tokens
src/scallywags/langdradig/grammatica/LANGdradigLexer.java
src/scallywags/langdradig/grammatica/LANGdradigLexer.tokens
src/scallywags/langdradig/grammatica/LANGdradigBaseListener.java
src/scallywags/langdradig/grammatica/LANGdradigListener.java
src/scallywags/langdradig/grammatica/LANGdradigVisitor.java
src/scallywags/langdradig/grammatica/LANGdradigInlezer.java
src/scallywags/langdradig/grammatica/LANGdradigInlezer.tokens
src/scallywags/langdradig/grammatica/LANGdradigBaseVisitor.java